p {
  line-height: 26px;
  color: #313131;
}
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #4592d6 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #313131 !important;
}
.navbar .dropdown-menu {
  border-radius: 0px;
  border: 0px;
  padding: 0;
  font-size: 16px;
  color: #313131;
}
.navbar .dropdown-item {
  padding: 1rem 1.3rem;
  transition: 0.4s;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:active {
  background-color: #66d5a5;
  color: #fff;
}

.bg-light {
  background-color: #fff !important;
}
header {
  margin-top: 80px;
}
img {
  max-width: 100%;
}
.title {
  margin-bottom: 1rem;
}
.title h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1970be;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
}

.btn.btn-primary {
  margin-top: 0.5rem;
  padding: 0.3rem 1.8rem;
  border-radius: 0px;
  background-color: #4592d6;
  border-color: #4592d6;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: #39a878;
  border-color: #39a878;
}

h4.heading {
  color: #39a878;
  font-size: 21px;
  font-weight: bold;
}
.flex {
  display: flex;
}
/* 關於我們*/

#ABOUT {
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 1;
}
#ABOUT::after {
  position: absolute;
  content: "";
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%);
  background-color: #66d5a55e;
  width: 44%;
  height: 50%;
  bottom: 0px;
  right: 0px;
}

.ABOUT-pic {
  margin-bottom: 3%;
}
.about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#note {
  background: url(../img/note.jpg) no-repeat right;
  background-size: 105%;
  background-color: rgb(76, 161, 114);
  position: relative;
}

#note P {
  color: #fff;
}
#note::after {
  position: absolute;
  content: "";
  z-index: 1;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: #ffffff;
  width: 9%;
  height: 42%;
  top: -1px;
  right: 0px;
}

#service {
  z-index: 1;
  position: relative;
  padding-top: 4%;
  padding-bottom: 3%;
}

#service::after {
  position: absolute;
  content: "";
  z-index: -1;
  clip-path: polygon(0 0, 0 0, 75% 100%, 0% 100%);
  background-color: #4592d657;
  width: 15%;
  height: 50%;
  bottom: 0px;
  left: 0px;
}
.bg-2 {
  background: url(../img/01-bg.png) no-repeat right;
  background-size: 105%;
}
.serviceList ul {
  padding-left: 0;
}
.serviceList ul li {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 2% 4%;
  margin: 2% 1%;
  background-color: #ffffff00;
  border: 1px solid;
  border-color: #66d5a5;
  width: 43%;
  color: #707070;
  transition: 0.4s;
}

.serviceList ul li:hover,
.serviceList ul li:active,
.serviceList ul li:focus {
  background-color: #66d5a5;
  color: #fff;
  cursor: pointer;
}

#medical {
  background-color: #4592d6;
  position: relative;
  padding-top: 2%;
  padding-bottom: 3%;
}

.colum {
  position: relative;
  z-index: 1;
}

#medical::after {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: #fff;
  width: 100%;
  height: 37%;
  bottom: 0px;
  left: 0px;
}
.colorWhite h1 {
  color: #fff;
}

.card-footer.custom-made {
  display: flex;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  background-color: rgb(255 255 255 / 3%);
  border-top: none;
}

.card {
  width: 20%;
  margin: 10px;
}

h5.card-title {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 26px;
}

.profile {
  background-color: #fff;
  box-shadow: 1px 1px 15px #7c7c7c78;
  margin-bottom: 40px;
}
.serviceList ul {
  text-align: center;
}
#note ol li {
  color: #fff;
  line-height: 26px;
  font-weight: bold;
  font-size: 17px;
}

#newlist .title {
  display: flex;
  /* padding: 3rem; */
  align-items: center;
  width: 20%;
  justify-content: center;
}

#newlist h1 {
  margin-bottom: 0px;
}
.new-list {
  display: flex;
  align-items: center;
  width: 80%;
}
#newlist li {
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #1212;
}
footer {
  background-color: #1970be;
  padding-top: 5%;
}

/* 	lg尺寸開始*/
@media (max-width: 992px) {
  .bg-2 {
    background-size: 200%;
  }
  .serviceList ul li {
    background-color: #4592d6;
    color: #fff;
  }
  .navbar .dropdown-item {
    padding: 1rem 1.3rem;
    transition: 0.4s;
    border-bottom: 1px solid #ebebeb;
  }
  #note {
    background-size: 200%;
  }
}

/* 	md尺寸開始*/
@media (max-width: 768px) {
  .bg-2 {
    background-size: 700%;
  }
  .navbar .navbar-light .navbar-toggler {
    border: 0px;
    border-color: ;
  }
}

/* 	sm尺寸開始*/

@media (min-width: 576px) and (max-width: 768px) {
}

/* 	xs尺寸開始*/

@media (max-width: 576px) {
  .serviceList ul li {
    width: 70%;
  }
}
